<section class="hero hero-body is-medium is-warning">
  <h1 class="title">INDIA Location Info</h1>
  <h2 class="subtitle">Enter a zipcode to get the location info</h2>
<form [formGroup]="form" (ngSubmit)="submit($event)">
    <div class="field">
    <input class="input zip is-medium" type="text" formControlName="zipcode" placeholder="Enter Zipcode">&nbsp;&nbsp;
    <button class="button is-medium is-info" type="submit" >Submit</button>
  </div>
</form>

</section><br>
<div class="container">
<article class="message is-primary" *ngIf="showMsg">
  <div class="message-header">
    <p>Location Info</p>

  </div>
  <div class="message-body">
    <ul>
      <li><strong>City: </strong>{{this.zip?.places[0]["place name"]}}</li>
      <li><strong>State: </strong>{{this.zip?.places[0]["state"]}}</li>
      <li><strong>Longitude: </strong>{{this.zip?.places[0]["longitude"]}}</li>
      <li><strong>Latitude: </strong>{{this.zip?.places[0]["latitude"]}}</li>
    </ul>
  </div>
</article>
</div>

<div class="container">
<article class="message is-danger" *ngIf="showMsg==false">
  <div class="message-body">Invalid Zipcode, please try again</div>
</article>
</div>


